<header id="header">
    <div class="container top-header-cont">
        <div class="full-cont">
            <div class="logo-cont">
                <img class="logo-img" src="images/logo.png" alt="logo-img">
                <img class="logo-img-mobile" src="images/logo-mobile.png" alt="logo-img-mobile">
            </div>

            <div id="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div id="main-menu">
        <div class="dark-mask"></div>
        <div class="left-bg-cont"></div>

        <div class="container">
            <nav class="menu-cont">
                <ul class="menu">
                    <li>
                        <a href="#">Главная</a>
                    </li>
                    <li class="active">
                        <a href="#">Рекламодатель</a>
                    </li>
                    <li>
                        <a href="#">Партнер</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>