@import "fonts";
@import "constants";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;

    font-weight: normal;
}

html, body {
    position: relative;

    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    font-weight: normal;
}

.container {
    position: relative;
    z-index: 2;

    width: 90%;
    max-width: 1430px;
    margin: 0 auto;

    padding-left: 15px;
    padding-right: 15px;

    @media all and (max-width: $mobileWidth) {
        width: 95%;
    }
}

span {
    font: inherit;
    color: inherit;
}

button {
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

header {
    padding: 30px 0;

    .logo-cont {
        img {

        }
    }

    #menu-btn {
        display: inline-block;
        width: 30px;
        height: 17px;
        position: relative;
        z-index: 5;
        margin: 10px 0 10px auto;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            left: 0;
            height: 3px;
            width: 100%;
            background: #7ab9ff;
            opacity: 1;

            transform: rotate(0deg);
            transform-origin: left center;
            transition: .25s ease-in-out;
        }

        span:nth-child(1) {
            top: 0;
        }

        span:nth-child(2) {
            top: 7px;
        }

        span:nth-child(3) {
            top: 14px;
        }
    }

    #menu-btn.active {
        span:nth-child(1) {
            transform: rotate(45deg);
            top: -3px;
            left: 5px;
        }
        span:nth-child(2) {
            width: 0;
            opacity: 0;
        }
        span:nth-child(3) {
            transform: rotate(-45deg);
            top: 18px;
            left: 5px;
        }
    }
}

.full-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .left-cont, .right-cont {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;

        @media all and (max-width: $mobileWidth){
            width: 100%;
            padding: 0;
            text-align: center;
        }
    }
    .left-cont {

    }
    .right-cont {

    }
}

.main-section {
    padding-top: 7vh;

    .full-cont {
        .left-cont {
            line-height: 1.2;

            .main-header {
                font-size: 60px;
                font-family: $GothamProBold;
                color: rgb(32, 32, 32);

                margin-bottom: 40px;

                @media all and (max-width: 1400px) {
                    font-size: 48px;
                }
                @media all and (max-width: $mobileWidth) {
                    font-size: 32px;
                }

                span {
                    position: relative;
                    z-index: 1;

                    &:before {
                        position: absolute;
                        z-index: -1;
                        content: '';
                        bottom: 15%;
                        left: 0;
                        width: 100%;
                        height: 30%;

                        background-color: rgb(122, 185, 255);
                    }
                }
            }
            .main-info {
                font-size: 18px;
                font-family: $GothamProRegular;
                color: rgb(109, 105, 99);

                margin-bottom: 30px;

                @media all and (max-width: $mobileWidth) {
                    font-size: 12px;
                }
            }
        }

        .right-cont {
            .macbook-cont {
                position: relative;

                img[class^="parallax-"] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }

                img.parallax-1 {
                    position: relative;
                    z-index: 5;
                }

                .video-cont {
                    position: absolute;
                    z-index: 6;

                    // some magic numbers due to mock-up video position at macbook
                    top: 54.5%;
                    left: 48.3%;
                    width: calc(410/625 * 100%);
                    height: calc(268/393 * 100%);
                    overflow: hidden;

                    transform: translateX(-50%) translateY(-50%);

                    .video {
                        position: absolute;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

            }
        }
    }

}

.user-section {
    position: relative;
    padding: 7vh 0;

    @media all and (max-width: $mobileWidth) {
        padding-bottom: 0;
    }

    .container {
        @media all and (max-width: $mobileWidth) {
            width: 100%;
            padding: 0;
        }
    }


    .img-text-guru {
        position: absolute;
        bottom: 0;
        left: 0;

        width: auto;
        max-width: 50%;
    }

    //min-height: 100vh;
    //background-image: url("../images/img-text-guru.jpg");
    //background-repeat: no-repeat;
    //background-position: left bottom;
    //background-size: auto;

    .user-btn {
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: left;

        width: 96%;
        height: 25vh;
        padding: 0 40px;
        border-radius: 6px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        box-shadow: 0px 50px 30px 0px rgba(29, 33, 43, 0.25);
        transition: all 0.4s;

        @media all and (max-width: $mobileWidth) {
            text-align: center;
            border-radius: 0;
            box-shadow: none;

            width: 100%;
            height: 50vh;
            padding: 0 20px;
        }

        .btn-header, .btn-title {
            display: block;
        }

        .btn-header {
            font-size: 36px;
            font-family: $GothamProRegular;

            transform: translateY(10px);
            transition: all 0.4s;

            @media all and (max-width: $mobileWidth) {
                font-size: 24px;
                transform: translateY(0);
                margin-bottom: 20px;
            }
        }
        .btn-title {
            font-size: 18px;
            font-family: $RobotoRegular;

            opacity: 0;
            transform: translateY(-100%);
            transition: all 0.4s;

            @media all and (max-width: $mobileWidth) {
                font-size: 15px;
                opacity: 1;
                transform: translateY(0);
            }
        }
        @media all and (min-width: $mobileWidth) {
            &:hover {
                box-shadow: 0px 60px 30px 0px rgba(29, 33, 43, 0.35);
                transform: translateY(-10px);

                .btn-header {
                    transform: translateY(-15px);
                }

                .btn-title {
                    opacity: 1;
                    transform: translateY(15px);
                }

            }
        }
    }
    .partner-btn {
        background-image: url("../images/img-button-1.png");

        @media all and (max-width: $mobileWidth) {
            background-image: url("../images/img-button-mobile-1.jpg");
        }
    }
    .advertiser-btn {
        background-image: url("../images/img-button-2.png");

        @media all and (max-width: $mobileWidth) {
            background-image: url("../images/img-button-mobile-2.jpg");
        }
    }

    .full-cont {
        .left-cont {
            text-align: left;
        }
        .right-cont {
            text-align: right;
        }
    }
}